NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SPEECHMATICS_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zcnJwYnVudXRtamZtd2dubHJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODg1MDI1MCwiZXhwIjoyMTA0NDI2MjUwfQ.w8Ny324mh93hInCnh0DHXeapipAuaz0ZVtM5WJMrAb8
TRANSCRIPTION_PROOF_SECRET=/OQygyXeWgLwWkvHKRffXCWWAOMl/FaELlirYz+8sZg=
HEALTHCHECK_TOKEN=SJlnSGZhAWwkc96F9mP2IgpqjQq7gI2pe70/MUCOj+Q=
